ul,
body {
  margin: 0;
  padding: 0;
}

.mui-content {
  padding: 0 10%;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg_sunset.jpg) 0 0 no-repeat;
  background-size: 100vw 110vh;
}

.title {
  width: 100%;
  height: 35vh;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 20px;
  text-align: center;
  line-height: 35vh;
}

.content {
  position: absolute;
  left: 10%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 35vh;
  list-style: none;
}

.content li {
  width: 20%;
  height: 100%;
  background-size: 100% 100%;
  transition: all 1s;
}

.item-1 {
  background: url(../img/li_1.jpeg) 0 0 no-repeat;
}

.item-2 {
  background: url(../img/li_2.jpeg) 0 0 no-repeat;
}

.item-3 {
  background: url(../img/li_3.jpeg) 0 0 no-repeat;
}

.item-4 {
  background: url(../img/li_4.jpeg) 0 0 no-repeat;
}

li.active {
  transform: scale(25%, 110%);
}
